:root {
  --bg-color: #f4f4f4;
  --pri-color: #3f6b94;
  --pri-2-color: #ef7d32;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* Colors
************** black family
#f4f4f4
#cccccc

Escrowme color
#3f6b94
#ef7d32

************* Blue family
#88d0e9 
#72c5e2
#c1e8f5
#01b7e4


************* Fonts
"Merriweather", "Serif"
"Source sans pro", "Sans-Serif"
*/

body {
  background: var(--bg-color);
}

a {
  text-decoration: none;
  color: black;
}